/* 
    1   COMMENT 
    2   IDENT    
    3   FUNCTION 
    4   AT_KEYWORD 
    5   HASH 
    6   STRING 
    7   BAD_STRING 
    8   URL 
    9   BAD_URL 
    10  DELIM . or & or *
    11  NUMBER 
    12  PERCENTAGE 
    13  DIMENSION 
    14  WHITESPACE 
    15  CDO 
    16  CDC 
    17  COLON 
    18  SEMICOLON 
    19  COMMA 
    20  LEFT_SQUARE 
    21  RIGHT_SQUARE 
    22  LEFT_PAREN 
    23  RIGHT_PAREN 
    24  LEFT_CURLY 
    25  RIGHT_CURLY  
*/

/* :root {
    --from-file: red;
    --primary-rgb: 255, 100, 13;
    --text-base: 15px;
} */

#foo .this-is-nested {
    --text-color: #fff;
}
.this {
    --text-color: coral;
}
.thing {
    color: red;
    --text-base: 20px;
    
    .nesting {
        --text-base: red;
    }
    /* .test:has(.inner:hover) {
        --text-base: 12px;
    }

    &.nested-unit {
        --text-base: 1.6rem;
    } */
}
/* 
.double .trouble {
    --text-base: 2vw;
}

#scoped {
    @media (min-width: 300px) {
        opacity: .2;
    }
} */

/* .some-selector {
    --from-file: blue;
    
    &.is-active {
        --doodle: pink;
    }

    & .nested-selector {
        --from-file: goldenrod;
    }
    
    .test {
        --testing: green;
    }
  
}


@media (min-width: 300px) {
    .some-selector {
        --from-file: lime;
    }
    .another-selector {
        --from-file: purple;
    }
    :root {
        --primary-rgb: 30, 20, 10;
    }
} */
