/* 
    1   COMMENT 
    2   IDENT    
    3   FUNCTION 
    4   AT_KEYWORD 
    5   HASH | selector #some-id or property value #FFF
    6   STRING 
    7   BAD_STRING 
    8   URL 
    9   BAD_URL 
    10  DELIM | ., &, *, +, >, <, ~, =, -, /, ?, $, #, ^, !, |
    11  NUMBER 
    12  PERCENTAGE 
    13  DIMENSION 
    14  WHITESPACE 
    15  CDO 
    16  CDC 
    17  COLON 
    18  SEMICOLON 
    19  COMMA 
    20  LEFT_SQUARE 
    21  RIGHT_SQUARE 
    22  LEFT_PAREN 
    23  RIGHT_PAREN 
    24  LEFT_CURLY 
    25  RIGHT_CURLY  
*/

h2 {
    color : red;
    --doodle: 2px;
    
    span {
        --this-prop: coral;
    }

    .nested {
        opacity: 1;
        --more-things: 100 100 100;
    }
}
.this-is-a-selector {
   
    ::selection {
        color: red!important;
        background-color: yellow!important;
    } 

    :has(.this) {
        transform: rotate(20deg);
        --op: 20px;
    }

    &:after {
        content: 'pooop';
        color: green;
    }

    .nested-selector {
        opacity: .4;
    }
}


#root-id-selector {
    --color-secondary: #EEE;
}

.something {
    border-radius: 10px;

    #nested-id-selector {
        transform: translate(20px);
    }
    @media (min-width: 300px) {
        --primary-border-color: pink;
    }
} 

:root {
    --from-file: red;
    --primary-rgb: 255, 100, 13;
    --text-base: 15px;
}



@media (min-width: 300px) {
    .some-selector {
        --from-file: lime;
    }
    .another-selector {
        --from-file: purple;
    }
    :root {
        --primary-rgb: 30, 20, 10;
    }
}
